# Logs
*.log
yarn-error.log*

# Dependency directories
node_modules

# dotenv environment variables file
.env

# parcel cache
.cache
.parcel-cache

# parcel build output
dist

# babel build output
build

